* {
    margin: 0;
}

main {
    width: 1005px;
    margin: auto;
}

header {
    color: #fff;
    /*font-family: 'Gruppo', cursive;*/
    /*font-family: 'Yatra One', cursive;*/
    /*font-family: 'Pompiere', cursive;*/
    font-family: 'Elsie', cursive;
    font-size: 72px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background: hotpink;
    margin-bottom: 5px;
}

footer {
    color: #fff;
    font-family: Georgia, KaiTi, serif;
    font-size: larger;
    height: 200px;
    background: darkblue;
    opacity: .8;
    text-align: center;
    line-height: 200px;
    margin-top: 5px;
}

#mathematics,
#chinese,
#english,
#painting {
    color: #fff;
    font-family: KaiTi, serif;
    font-size: 50px;
    width: 500px;
    height: 375px;
    float: left;
    background-repeat: no-repeat;
    /*text-align: center;*/
}

#mathematics:hover,
#chinese:hover,
#english:hover,
#painting:hover {
    cursor: pointer;
    opacity: .8;
}

.clear {
    clear: both;
}

#mathematics {
    background-image: url("../images/mathematics.png");
}

#chinese {
    background-image: url("../images/chinese.png");
}

#english {
    background-image: url("../images/english.png");
}

#painting {
    background-image: url("../images/painting.png");
}

#mathematics,
#english {
    margin-right: 5px;
}

#mathematics,
#chinese {
    margin-bottom: 5px;
}


#mathematics b,
#chinese b,
#english b,
#painting b {
    display:block;
    margin-top: 295px;
    height: 80px;
    line-height: 80px;
    opacity: .5;
    padding-left: 20px;
    background: #333333;
}
